/* Font
 * ================== 
 */
$font-stack: 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Lantinghei SC', 'Hiragino Sans GB', sans-serif;

/* Color
 * ================== 
 */
$bg-main-color: #9C9C9C;
$white: #fff;
$black: #000;
