<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>耳机大家坛</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/detail.css">
</head>
<body>
  <div id="main">
    <p class="title">{{ title }}</p>
    <ul>
      {% for item in content %}
        <li class="entry">
          <div class="info">
            <span class="author">{{ item.name }}</span>
            <span class="time">{{ item.postedTime }}</span>
            {% if item.floor === 0 %}
              <span class="floor">楼主</span>
            {% else %}
              <span class="floor">{{ item.floor }}楼</span>
            {% endif %}
          </div>

          <div class="content">{{ item.content | raw }}</div>
        </li>
      {% endfor %}
    </ul>
  </div>
</body>
</html>
