<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>耳机大家坛</title>
  <link rel="stylesheet" href="/dist/css/index.css">
</head>
<body>
  <div id="main">
    <ul class="topic-list">
      {% for item in topics %}
        <li class="topic">
          <a href="/topic/{{ item.id }}">
            <span class="author">{{ item.author }}</span>
            <span class="answer">
              <b>{{ item.answer }}</b>
            </span>
            <span class="title">{{ item.topic }}</span>
            <span class="time">{{ item.lastUpdateTime }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
    <div id="pagination"
      data-total-page="{{ totalPage }}"
      data-page-no="{{ pageNo }}" >
      <select class="page-selector"></select>
      <button class="btn btn-page first" data-action="first">首页</button>
      <button class="btn btn-page pre" data-action="previous">上一页</button>
      <button class="btn btn-page next" data-action="next">下一页</button>
      <button class="btn btn-page last" data-action="last">末页</button>
    </div>
  </div>
  <script src="/dep/zepto.js"></script>
  <script src="/dep/require.js"></script>
  <script>
      requirejs.config({
        baseUrl: '/dist/js/',
        packages: [
            {
                name: 'underscore',
                location: '../../dep/',
                main: 'underscore-min'
            }
        ]
      });

      require(['index/init'], function(init) {
        init.default.start();
      });
  </script>
</body>
</html>
