html {
    -webkit-tap-highlight-color: rgba(201, 224, 253, 0.3);
}

* {
  font-family: 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Lantinghei SC', 'Hiragino Sans GB', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.title {
  margin: 10px 0;
  font-weight: 500;
  font-size: 20px;
}

.info {
  color: #ccc;
}

.entry .time {

}

.entry .floor {
}


.entry .content {
  font-size: 13px !important;
}
