* {
  font-family: 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Lantinghei SC', 'Hiragino Sans GB', sans-serif;
}

html {
    -webkit-tap-highlight-color: rgba(201, 224, 253, 0.3);
}


body,
ul,
h6,
blockquote {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

#main {
    padding: 20px;
}

.title {
  margin: 10px 0;
  font-weight: 500;
  font-size: 20px;
}

.info {
    color: #505050;
    font-size: 12px;
    padding-left: 10px;
    border-left: 2px solid #E85B5B;
    line-height: 12px;
    margin-bottom: 10px;
}

.entry {
    margin: 10px 0;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    padding: 10px;
}

.entry .time {

}

.entry .floor {
}


.entry .content {
  font-size: 14px;
  word-break: break-all;
  overflow: hidden;
  
}

.content blockquote {
    padding: 10px;
    border: 1px dashed #CCC;
}
